[Unit]
Description=MailHog Email Catcher
After=syslog.target network.target

[Service]
Type=simple
ExecStart={{ mailhog_install_dir }}/mailhog -api-bind-addr=0.0.0.0:80 -ui-bind-addr=0.0.0.0:80
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
